:root {
    --dark-blue: #657e97;
    --dark-green: #42ba96;
    --dark-yellow: #ffc107;
    --dark-gray: gray;
}

.breadcrumb-title {
    letter-spacing: 1.5px;
}

.custom-show {

    .table {

        tbody {

            tr:first-child {

                td {
                    border-top: none;
                }
            }

            tr {

                td {
                    border-top: 1px solid rgb(211 211 211 / 10%);
                }
            }
        }
    }
}

.avatar_wrapper {
    cursor: pointer;
    background-color: #212529;
    border-radius: 50rem;

    label {
        cursor: pointer;
    }

    .backpack-avatar-menu-container {
        background: #343a40;
    }
}

.select2-container--bootstrap {
    box-shadow: 0 0.125rem 0.25rem rgb(22 28 45 / 8%) !important;
    border-radius: 3px;

    .select2-dropdown {
        color: #dee2e6 !important;
        background-color: #000 !important;
        border: 1px solid #6c757d !important;

        .select2-search__field {
            color: #dee2e6 !important;
            background-color: #000 !important;
            border: 1px solid #6c757d !important;
        }
    }

    .select2-selection {
        color: #dee2e6 !important;
        background-color: #000 !important;
        border: none !important;
    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: var(--purple) !important;
    }
}

.dataTables_wrapper {

    .dataTables_paginate {

        .paginate_button {
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%) !important;

            &:first-child {

                .page-link {
                    border-top-left-radius: 0.25rem !important;
                    border-bottom-left-radius: 0.25rem !important;
                }
            }

            &:last-child {

                .page-link {
                    border-top-right-radius: 0.25rem !important;
                    border-bottom-right-radius: 0.25rem !important;
                }
            }

            &.active {
                background-color: var(--purple) !important;

                .page-link {
                    background-color: var(--purple) !important;
                    z-index: 0 !important;
                }
            }

            .page-link {
                background-color: #000 !important;
                border-radius: 0 !important;
                border: none !important;

                &:hover, &:focus {
                    z-index: 0 !important;
                }
            }

            &.disabled, &:disabled {
                opacity: 1 !important;
            }
        }
    }

    .dataTables_length {

        select {
            border: 0 !important;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%) !important;
        }
    }

}

.dataTables_filter {

    input {
        border: 0 !important;
        border-radius: 0.25rem !important;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%) !important;
    }
}

#crudTable_wrapper {

    #crudTable {

        &.custom-crud-table {
            margin: 0.5rem 0 !important;
        }
    }

    #crudTable_length {

        .custom-select {
            border-color: #000 !important;
        }
    }
}

.navbar-filters {
    background-color: rgb(0 0 0 / 2%) !important;
}

.swal-modal {
    background-color: #343a40 !important;
    color: #fff !important;

    .swal-text, .swal-title {
        color: #fff !important;
    }
}

@media (min-width: 576px) {
    .avatar_wrapper {
        padding-right: 0.8rem;
    }
}
